### Python sandbox

In [14]:
a = "Jadi,dog,man,her,forex"

In [21]:
a.find("dog")

5

In [1]:
t1 = (1, 2, 3, 4, 5)

In [3]:
t1.count(2)

1

In [3]:
import math as math
coordA = (3, 4)
coord0 = (0, 0)
distance = math.sqrt(
    (coordA[0]-coord0[0])**2
    +
    (coordA[1]-coord0[1])**2
)
print(distance)

5.0

In [17]:
classr = set()
classr = {10, 20, 30, 40, 50}
classr.add("00")
classr

{'00', 10, 20, 30, 40, 50}

In [2]:
heyvoon = set(["sag", "gorg", "khar", "gav"])
heyvoon

{'gav', 'gorg', 'khar', 'sag'}

In [18]:
classr.union(heyvoon)

{'00', 10, 20, 30, 40, 50, 'gav', 'gorg', 'khar', 'sag'}

In [20]:
type(classr)

set

In [23]:
setA = set([1, 2, 3, 4])
setB = set([3, 4, 5, 6])

اجتماع = setA.union(setB)
اشتراک = setA.intersection(setB)

In [24]:
print(اجتماع)
print(اشتراک)

{1, 2, 3, 4, 5, 6}
{3, 4}

In [1]:
a = set('abcdefghij')
b = set('ghijklmn')
a ^ b

{'a', 'b', 'c', 'd', 'e', 'f', 'k', 'l', 'm', 'n'}

set comprehensions similiar to lists:

In [35]:
a = {x for x in 'abcdefghijklmn' if x not in 'ghijkl'}
a

{'a', 'b', 'c', 'd', 'e', 'f', 'm', 'n'}

In [36]:
'a' in a

True

In [40]:
f = open('myfile.txt')
f.read()

'hello this is my file\njadi help me creating this\n\nby\n^z\n^Z\n'

In [41]:
f.read()

''

In [42]:
f.seek(0)
f.read()

'hello this is my file\njadi help me creating this\n\nby\n^z\n^Z\n'

In [43]:
%%writefile funny_file.txt
hello this is my funny file!

Writing funny_file.txt

In [48]:
new_f = open('funny_file.txt')
new_f.seek(0)
new_f.readlines()
f.close()

In [4]:
with open('funny_file.txt', 'r+') as f:
    print(f.read())

this line is added using py!
this is my new line!
final line.